<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TagsCloud.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C973AD1C509B9E008DEE19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C973C61C509B9F008DEE19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C973D11C509B9F008DEE19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
